body {
    background: #fafbfbf8;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #aletInputMissing {
    display: none;
    color: red;
  }
  
  #form:invalid #aletInputMissing {
    display: block;
  }